<% provide(:title, "Achievements")%>
<%= render 'layouts/header' %>

<div class="center hero-unit">
	<h1>StaticPages#achievements</h1>
	<p>Find me in app/views/static_pages/achievements.html.erb</p>
</div>