<% provide(:title, "Achievements")%>
<%= render 'layouts/header' %>

<div class="hero-unit">
	<p>Find me in app/views/static_pages/achievements.html.erb</p>
	<% unless @achievements.nil? %>
		<%= @achievements.body.html_safe %>
	<% end %>
</div>