<% provide(:title, "Achievements")%>
<%= render 'layouts/header' %>

<%= stylesheet_link_tag "static_pages/achievements.css" %>

<div class="hero-unit">
	<% unless @achievements.nil? %>
		<%= @achievements.body.html_safe %>
	<% end %>
</div>