<% provide(:title, "FAQ")%>
<%= render 'layouts/header' %>

<div class="hero-unit">
	<p>Find me in app/views/static_pages/faq.html.erb</p>
	<% unless @faq.nil? %>
		<%= @faq.body.html_safe %>
	<% end %>
</div>


