<% provide(:title, "FAQ")%>
<%= render 'layouts/header' %>

<%= stylesheet_link_tag "static_pages/faq.css" %>

<div class="hero-unit">
	<% unless @faq.nil? %>
		<%= @faq.body.html_safe %>
	<% end %>
</div>


