<% provide(:title, "Admin Company")%>
<%= render 'layouts/admin_header' %>

<div class="center hero-unit">
	<h1>Admin#company</h1>
	<p>Find me in app/views/admin/about.html.erb</p>
	<p>Use this page to edit company info</p>
</div>