<% provide(:title, "Admin Achievements")%>
<%= render 'layouts/admin_header' %>

<div class="center hero-unit">
	<h1>Admin#achievements</h1>
	<p>Find me in app/views/admin/achievements.html.erb</p>
	<p>Use this page to edit company info</p>
</div>