<% provide(:title, "Admin Photo")%>
<%= render 'layouts/admin_header' %>

<div class="center hero-unit">
	<h1>Admin#photo</h1>
	<p>Find me in app/views/admin/photo.html.erb</p>
	<p>Use this page to edit company info</p>
</div>