<% provide(:title, "Admin Schedule")%>
<%= render 'layouts/admin_header' %>

<div class="center hero-unit">
	<h1>Admin#schedule</h1>
	<p>Find me in app/views/admin/schedule.html.erb</p>
	<p>Use this page to edit company info</p>
</div>