.hero-unit{
	background: -webkit-radial-gradient(rgba(255,255,255,1.0),rgba(255,255,255,0));
	background: -o-radial-gradient(rgba(255,255,255,1.0),rgba(255,255,255,0)); 
	background: -moz-radial-gradient(rgba(255,255,255,1.0),rgba(255,255,255,0) );
	background: radial-gradient(rgba(255,255,255,1.0),rgba(255,255,255,0));
	
	margin-left: 50px;
}