.hero-unit{
	background: rgba(255,255,255, 0);

	.gallery{
		background: #000;
		margin-top: -100px;
		padding: 50px;

		.carousel-inner{
			img{
				width: auto;
				height: 550px;
				max-height: 550px;
				margin:auto;
			}

		}
		.right, .left{
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	.text{
		margin-top: 30px;
		border-radius: 5px;
		background: rgba(35,93,121, 0.5);
	}

}

