.hero-unit{
	#top-table{
		width: 100%;

		td{
			width: 50%;
			text-align: left;
			padding-left: 50px;
		}
		
		.title{
			text-align: right;
			padding-right: 50px;
		}
	}

	.purchase{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}